{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Invoice {{ invoice.pk }}</title>
    <style>
      @page {
        size: A4;
        margin: 20mm;
      }

      html, body {
        margin: 0;
        padding: 0;
        background: #ffffff;
      }

      body {
        font-family: 'Times New Roman', serif;
      }

    </style>
  </head>
  <body>
    {% include 'invoices/_detail_document.html' with for_pdf=True %}
  </body>
</html>
